$gutter : 12;
$header-height : 50;
$filter-width : 300;
$filter-width-min : 120;
$favorite-width : 400;
$favorite-width-min : 130;
$map-popover-height : 200;
$map-popover-width  : 402;
$table-row-height : 115;