/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

@import 'react-toolbox/lib/colors';
@import 'react-toolbox/lib/mixins';
@import 'react-toolbox/lib/globals';
@import 'susy/sass/susy';
@import 'compass-mixins/lib/compass';


$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  use-custom: (
    box-sizing: true,
    rem: true,
    clearfix: true,
  )
);

$header-height : 5rem;