
.root
  +isolate
  position: absolute
  width : $filter-width

  left    : $gutter
  top     : $gutter
  bottom  : $gutter

  z-index : 9
  +shadow

.row
  float : left
  width : 100%
  padding : 3px 0
.subtitle
  font-size : 1.1em
  font-weight : 500
  padding-top : 6px