.root
  +span(2 of 12 at 0 isolate)
  position: relative
  width : $filter-width
  height : 100%
  padding: 6px
  z-index : 9

.panel
  +shadow-2dp
  background : white
  height : 100%
  padding : 10px 0