.root
    +span(12 of 12 at 0 isolate)
    background : #5682A3
    color : white
    height : 100%
    font-size : 2rem
    font-weight : 500
    +shadow-2dp
    position : relative
    z-index : 10
.text
    padding: 0 1rem
    float: left
    text-align : center