.nano
  background : white
  height : 100%
  width : 100%

.content
  padding : 0 10px
  overflow-x : hidden

:global 
  .nano > .nano-pane     
    background: #d8dfe5
    background: rgba(216, 223, 225, 0.45)
    border-radius: 2px
    transition: none
    width: 5px
    right: 4px
    top: 0px

:global
  .nano > .nano-pane  > .nano-slider   
    background: #89a0b3
    background: rgba(137, 160, 179, 0.5)
    margin: 0
    border-radius: 2px 
