
.root
  height : 100%
  position : relative
  min-width : $filter-width * 2px

.header
  width : 100%
  height      : $header-height*1px
  line-height : $header-height*1px

.content
  position : absolute
  width : 100%
  top : $header-height*1px
  bottom : 0