//:global
//@import 'nanoscroller/bin/css/nanoscroller.css'


body
  background : #E7EBF0
  font-family: 'Roboto', sans-serif

.root
  +container
  min-width : 750px
  height : 100%

.header
  +span(12 of 12 at 0 isolate)
  padding : 0
  height      : $header-height
  line-height : $header-height
  width : 100%

.content
  +container
  height : 100%
  padding-top : $header-height
