


.root
  +span(12 of 12 at 0 isolate)
  position : relative
  height : 100%
  padding : 0
  padding : 6px
  padding-left : $filter-width + 6px

.content
  background : #FFFAFA
  height : 100%
  padding : 10px
  +shadow-2dp
